aside {
  background: #fff;
  width: 330px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.aside-footer {
  margin-top: auto; 
  padding: 20px 10px;
}

.aside-title {
  padding: 15px 10px;
  text-align: start;
  box-sizing: border-box;
  color: #000;
  border-bottom: 3px solid #d9d9d9;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1200px) {
  aside {
    max-width: 270px;
  }
  .aside-title {
    padding: 10px 10px;
    font-size: 18px; /* Уменьшаем размер шрифта */
  }
}

@media (max-width: 920px) {
  aside {
    top: 0;
    bottom: 0;
    z-index: 100;
    position: absolute;
    height: 100%;
  }
  .aside-open {
    left: 0px;
  }
  .aside-close {
    left: -270px;
  }
  .aside-title {
    padding: 10px 10px;
    font-size: 18px; /* Уменьшаем размер шрифта */
  }
}