aside {
  background: var(--aside-background);
  border-radius: 5px;
  width: var(--aside-width);
  display: flex;
  flex-direction: column;
  transition: var(--aside-transition);
}
a {
  text-decoration: none;
}
.aside-footer {
  margin-top: auto;
  padding: 20px 0px;
}
.aside-footer a {
  border-top: 2px solid var(--aside-title-border-color);
  padding: 5px 15px;
  display: flex;
  gap: 10px;
  font-weight: 400;
}
.aside-footer a:hover {
  background: #e0e0e0;
}
.aside-footer a input {
  margin-top: 5px;
}


@media (max-width: 1200px) {
  aside {
    max-width: 270px;
  }
  .aside-title {
    padding: 10px 10px;
    font-size: var(--aside-title-font-size-small);
  }
}

@media (max-width: 920px) {
  aside {
    top: 0;
    bottom: 0;
    z-index: 100;
    position: absolute;
    height: 100%;
  }
  .aside-open {
    left: 0px;
  }
  .aside-close {
    left: -270px;
  }
  .aside-title {
    padding: 10px 10px;
    font-size: var(--aside-title-font-size-small);
  }
}