:root {
  --table-text-size: 14px;
  --table-text-color: black;
  --table-background-color: white;
  --table-border-color: #6CACE4;
  --table-padding: 5px 15px;
  --table-hover-background: #6CACE4;
  --table-hover-color: white;
  --delete-border-color: #FF8282;
  --table-hover-delete-background: #FF8282;
}

.table-item {
  position: relative;
}

.table-category {
  position: relative;
  cursor: pointer;
}

.category-select {
  border: none;
  background: var(--table-background-color);
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  position: relative;
}

.adaptive_icon {
  display: none;
}
.adaptive_icon img {
  cursor: pointer;
}
.category-select:focus::before {
  transform: translateY(-50%) rotate(-180deg);
}

.table-name {
  max-width: 150px;
  text-wrap: nowrap;
}


.download-button,
.delete-button,
.refresh-button {
  background-color: var(--table-background-color);
  color: var(--table-text-color);
  border-radius: 5px;
  border: 2px solid var(--table-border-color);
  padding: var(--table-padding);
  text-align: center;
  text-decoration: none;
  font-size: var(--table-text-size);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.delete-button {
  border: 2px solid var(--delete-border-color);
}
.refresh-button {
  border: 2px solid green
}
.download-button:hover {
  color: var(--table-hover-color);
  background: var(--table-hover-background);
}
.refresh-button:hover {
  color: var(--table-hover-color);
  background: green;
}
.delete-button:hover {
  color: var(--table-hover-color);
  background: var(--table-hover-delete-background);
}

@media (max-width: 1200px) {
  .table-name,
  .table-category,
  .table-modified,
  .table-created,
  .table-download,
  .table-delet,
  .table-refresh {
    padding: 6px;
  }

  .download-button,
  .delete-button,
  .refresh-button  {
    padding: 4px 12px;
    font-size: 12px;
  }
}

@media (max-width: 630px) {
  .adaptive_icon {
    display: flex;
  }
  .table-category {
    display: flexbox;
    justify-content: end;
    text-align: right;
  }
  .category-select {
    text-align: start;
    align-items: end;
  }
  .trash-icon, .download-icon, .info-icon {
    width: 18px;
  }
}
