.main-header {
    background: white;
    min-height: 55px;
    justify-content: space-between;
    position: relative;
    align-items:center ;
    display: flex;
    border-radius: 5px;
    padding: 5px 50px 0px 10px;
    flex-wrap: wrap;
}

.main-refresh {
    display: flex;
    gap: 10px;
    min-width: 50px;
    text-wrap: wrap;
    align-items: center;

}
.main-add-files {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    gap: 10px;
}

.main-add-files input[type="file"] {
    align-items: center;
    position: relative;
    overflow: hidden;
}

.main-add-files input[type="file"]::before {
    position: absolute;
    content: 'Выберите файл';
    display: inline-block;
    background-color: #6cace4;
    color: white;
    padding: 0px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.main-add-files input[type="file"]:hover::before {
    background-color: #45a049;
    box-shadow: 0px 0px 5px rgb(138, 137, 137);
}

.main-add-files input[type="file"] {
    
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.category-select {
    width: 150px;
    padding: 5px;
}

.main-refresh refresh_icon {
    cursor: pointer;
    max-width: 35px;
}
.main-refresh refresh_icon:hover {
    animation: rotateAnimation 0.5s linear;
    
}
.main-refresh h1 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-refresh h1::first-letter {
    text-transform: uppercase;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@media (max-width: 920px) {
    .main-add-files {
        max-width: 600px;
        display: flex;
    }
    .main-refresh {
        min-width: 120px; 
    }

    .main-refresh img {
        max-width: 20px; 
    }

    .main-refresh h1 {
        font-size: 16px; 
    }
}

@media (max-width: 630px) {
  
    .main-header {
        padding: 5px 5px 10px 5px; 
        display: block;
        gap: 10px;
        display: flex;

    }
    .main-add-files {
        max-width: 300px;
        flex-wrap: wrap;
        display: flex;
    }


    .main-refresh {
        min-width: 100px; 
    }

    .main-refresh img {
        max-width: 15px; 
    }

    .main-refresh h1 {
        font-size: 12px; 
    }
}