.aside-title {
  color: var(--aside-title-color);
  padding: 10px 15px;
  border-bottom: 3px solid var(--aside-title-border-color);
  font-size: var(--aside-title-font-size);
  font-weight: 400;
  line-height: normal;
}

.aside-button {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--aside-title-border-color);
}

.aside-button img {
  padding: 5px 5px;
}

.aside-button:hover {
  background: #e0e0e0;
}

.add-files__wrapper {
  margin: 10px 0;
    padding: 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aside-add-button {
  color: white;
  padding: 3px 10px;
  cursor: pointer;
  background: #6cace4;
  border: 1px solid #6cace4;
  border-radius: 5px;
}

.input__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
    padding: 5px;
    border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background: var(--color-workflow-f-blue-3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  border-right: 1px solid #fff;
}
 .input__file-icon {
     height: 25px;
    filter: invert(100%);
 }
.input__file-button-text {
padding: 0px 10px;
}

.input__file-button {

  background: #6cace4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

.aside-add {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 10px;
  margin-top: 20px;
}

.aside-add-group {
  display: flex;
  justify-content: space-between;
  width: 100% ;
}

.loader {
  margin: 20px;
  width: 48px;
  height: 48px;
  border: 5px solid var(--color-workflow-blue-1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}