.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background: white;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.logo-text {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-left: 2px solid var(--color-workflow-f-black);
}
.header-logo h1 {
  font-size: 21px;
  font-weight: 400;
  height: 0;
}
.header-logo span {
  color: var(--color-workflow-f-blue-1);
}
.header-logo h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-workflow-f-blue-2);
}

.customer {
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

.loggedIn {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.login {
  border-radius: 13px;
  border: 3px solid var(--color-workflow-f-blue-2);
  background-color: var(--color-workflow-f-white);
  text-decoration: none;
  text-transform: uppercase;
  width: 175px;
  height: 40px;
  cursor: pointer;
}

.login:hover {
  background-color: var(--color-workflow-f-blue-2);
  color: var(--color-workflow-f-white);
}

@media (max-width: 1200px) {
  .header {
    padding: 20px 50px;
  }

  .header-logo h1 {
    font-size: 18px;
  }

  .header-logo h2 {
    font-size: 14px;
  }

  .login {
    width: 150px;
    height: 30px;
  }
}

@media (max-width: 920px) {
  .button-burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 45px;
    margin: 20px;
  }

  .burger-bar {
    width: 45px;
    height: 2px;
    background-color: #333;
  }
}

@media (max-width: 620px) {
  .button-burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    margin: 10px;
  }
  .header-logo h1 {
    font-size: 15px;
  }

  .header-logo h2 {
    font-size: 12px;
  }
  .header {
    padding: 10px 30px;
  }
  .burger-bar {
    width: 45px;
    height: 2px;
    background-color: #333;
  }
  .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
}
