.footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #FFF;
    gap: 70px;
    padding: 30px 110px;
}

.footer-copiright {
    text-transform: uppercase;
    font-size: 15px;
}

.footer-devs {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration-line: underline;
    font-size:  15px;;
    color: var(--color-workflow-f-blue-2);
}
@media (max-width: 1200px) {
  .footer {
    gap: 30px; /* Уменьшаем отступ между элементами */
    padding: 20px 50px; /* Уменьшаем внутренний отступ */
  }

  .footer-copiright {
    font-size: 14px; /* Уменьшаем размер шрифта */
  }

  .footer-devs {
    font-size: 14px; /* Уменьшаем размер шрифта */
  }
}