:root {
  --footer-background: #FFF;
  --footer-gap: 70px;
  --footer-padding: 30px 110px;
  --footer-copyright-font-size: 15px;
  --footer-devs-font-size: 16px;
  --footer-devs-font-weight: 400;
  --footer-devs-text-transform: uppercase;
  --footer-devs-underline-color: var(--color-workflow-f-blue-2);
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: var(--footer-background);
  gap: var(--footer-gap);
  padding: var(--footer-padding);
}

.footer-copyright {
  text-transform: uppercase;
  font-size: var(--footer-copyright-font-size);
}

.footer-devs {
  font-size: var(--footer-devs-font-size);
  font-weight: var(--footer-devs-font-weight);
  text-transform: var(--footer-devs-text-transform);
  color: var(--footer-devs-underline-color);
}

@media (max-width: 1200px) {
  .footer {
    gap: 30px;
    padding: 20px 50px;
  }

  .footer-copyright,
  .footer-devs {
    font-size: 14px;
  }
}
@media (max-width: 630px) {
  .footer {
    gap: 30px;
    padding: 20px 15px;
  }

  .footer-copyright,
  .footer-devs {
    font-size: 14px;
  }
}