.table-wrapper {
  margin: 20px; 
  position: relative;
}

.documents-list-wrapper {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
  background-color: #f5f5f5;
}

.documents-list-wrapper thead {
  background: white;
  border-top: 10px solid #003274
}
.documents-list-wrapper th, .documents-list-wrapper td {
  padding: 8px;
  text-align: left;
  background-color: white;
}


.documents-list-wrapper tbody tr:hover {
  background-color: #f5f5f5;
}

@media (max-width: 1200px) {
  .table-wrapper {
    margin: 10px;
  }
  .documents-list-wrapper th,
  .documents-list-wrapper td {
    padding: 8px; /* Возвращаем отступы к исходным значениям */
  }
}