.table-wrapper {
  margin: 20px; 
  position: relative;
}

.documents-list-wrapper {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
  background-color: #f5f5f5;
}

.documents-list-wrapper thead {
  background: white;
  text-align: left;
  border-top: 10px solid #003274
}
.documents-list-wrapper th, .documents-list-wrapper td {
  padding: 8px;
  background-color: white;
}


.documents-list-wrapper tbody tr:hover {
  background-color: #f5f5f5;
}

@media (max-width: 1200px) {
  .table-wrapper {
    margin: 10px;
  }
  .documents-list-wrapper th,
  .documents-list-wrapper td {
    overflow: hidden;
    max-width: 100px; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    position: relative;
    font-size: 14px;
    padding: 8px; /* Возвращаем отступы к исходным значениям */
  }
}

@media (max-width: 620px) {
  .th-6, .th-7, .th-5, .th-4, .table-modified, .table-created, .table-download, .table-delete {
    display: none;
  }
  thead {
    text-align: left;
  }
  .th-3 {
    text-align: right;
  }
  .adaptive_icon {
    display: flex;
    margin-top: 5px;
    gap: 20px;
  }
  .documents-list-wrapper{
    width: 100%;
  }
  .table-category {
    align-items: end;
  }
}